!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="initial-scale=1,width=device-width,user-scalable=no")
    %title QScore
    - if @isDist
      %link(href="index.min.css" rel="stylesheet" type="text/css" media="all")
      %script(src="bower_components/angular/angular.min.js" type="text/javascript")
      %script(src="bower_components/angular-route/angular-route.min.js" type="text/javascript")
      %script(src="index.min.js" type="text/javascript")
    - else
      %link(href="index.css" rel="stylesheet" type="text/css" media="all")
      %script(src="bower_components/angular/angular.js" type="text/javascript")
      %script(src="bower_components/angular-route/angular-route.js" type="text/javascript")
      %script(src="index.js" type="text/javascript")
  %body(ng-app="app" ng-controller="AppController")
    %main
      .timer-main.centered.action(q-press-end="timerMouseup()"
                                  q-press-begin="timerMousedown()")
        .centered-inner {{ timer.ellapsed(overtime) | timerFormat }}
        .timer-full(ng-if="overtime") {{ timer.ellapsed() | timerFormat }}
      .timer-floor.centered
        .centered-inner {{ timer.ellapsed(floor) | timerFormat }}
      .score-board
        .score.centered.action(q-press-end="scoreMouseup(0)"
                               q-press-begin="scoreMousedown(0)"
                               ng-class="{'score-selected': selected == 0}")>
          .score-inner.centered-inner {{ score(0) }}
        .score.centered.action(q-press-end="scoreMouseup(1)"
                               q-press-begin="scoreMousedown(1)"
                               ng-class="{'score-selected': selected == 1}")>
          .score-inner.centered-inner {{ score(1) }}
      %ol.details(ng-class="{'details-selected': selected >= 0}")
        -#%li.detail
          .detail-time>
            .detail-time-value 8:20:3
            %progress.card-duration(value="55" max="60")
          .detail-definition.detail-definition-yellow-card> Card
        %li.detail(ng-repeat="detail in details()"
                   ng-class="{'detail-catch': detail.type == 'catch'}")
          .detail-time(ng-if="detail.team_id == 1")>
            .detail-time-value {{ detail.at | timerFormat }}
          .detail-definition(class="detail-definition-{{ detail.type }}")
            {{ detail.name }}
          .detail-time(ng-if="detail.team_id == 0")>
            .detail-time-value {{ detail.at | timerFormat }}
      .controlls(ng-if="selected >= 0")
        .control.centered.action(ng-click="goal(selected)")>
          .centered-inner +10
        .control.centered.action(ng-click="ungoal(selected)")>
          .centered-inner -10
        .control.centered.action(ng-click="catch(selected)"
                                 ng-class="{'action-disabled': floor > timer.ellapsed() }")>
          .centered-inner Catch
        .control.centered>
          .centered-inner Card
