!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="initial-scale=1")
    %title Application
    %link(href="index.css" rel="stylesheet" type="text/css" media="all")
    - CSS_ASSETS.each do |e|
      %link(href=e rel="stylesheet" type="text/css" media="all")
    %script(src="bower_components/angular/angular.js" type="text/javascript")
    %script(src="bower_components/angular-route/angular-route.js" type="text/javascript")
    %script(src="index.js" type="text/javascript")
    - JS_ASSETS.each do |e|
      %script(src=e type="text/javascript")
  %body(ng-app="app" ng-controller="AppController")
    %main
      .timer-main.centered(ng-click="timer.toggle()")
        .centered-inner {{ timer.ellapsed(overtime) | timerFormat }}
        .timer-full(ng-if="overtime") {{ timer.ellapsed() | timerFormat }}
      .timer-floor.centered
        .centered-inner {{ timer.ellapsed(18 * 60 * 1000) | timerFormat }}
      .score-board
        .score.centered(ng-mouseup="goal(0)"
                        ng-mousedown="ungoal(0)"
                        ng-class="{'score-selected': selected == 0}")>
          .centered-inner {{ score(0) }}
        .score.centered(ng-mouseup="goal(1)"
                        ng-mousedown="ungoal(1)"
                        ng-class="{'score-selected': selected == 1}")>
          .centered-inner {{ score(1) }}
      %ol.details(ng-class="{'details-selected': selected}")
        -#%li.detail.detail-catch
          .detail-time>
            .detail-time-value 10:10:5
          .detail-definition.detail-definition-catch> Catch
        -#%li.detail
          .detail-time>
            .detail-time-value 8:20:3
            %progress.card-duration(value="55" max="60")
          .detail-definition.detail-definition-yellow-card> Card
        -#%li.detail
          .detail-definition.detail-definition-red-card> Card
          .detail-time>
            .detail-time-value 6:32:4
        %li.detail(ng-repeat="detail in details()")
          .detail-definition.detail-definition-goal(ng-if="detail.team_id == 0")> Goal
          .detail-time>
            .detail-time-value {{ detail.at | timerFormat }}
          .detail-definition.detail-definition-goal(ng-if="detail.team_id == 1")> Goal
      .controlls(ng-if="selected")
        .control.control-goal.centered>
          .centered-inner +10
        .control.control-ungoal.centered>
          .centered-inner -10
        .control.control-catch.centered>
          .centered-inner Catch
        .control.control-card.centered>
          .centered-inner Card
